In [20]:
import pandas as pd

In [21]:
ds=pd.read_csv(r"Crude_Oil_Prices.csv")

In [22]:
ds.head()

         date   value
0  29-10-2012   85.54
1  30-10-2012   85.68
2  31-10-2012   86.24
3  01-11-2012   87.09
4  02-11-2012   84.86

In [23]:
ds.isnull().sum()

date       0
 value    21
dtype: int64

In [24]:
hd=ds.dropna()
print(hd)

            date   value
0     29-10-2012   85.54
1     30-10-2012   85.68
2     31-10-2012   86.24
3     01-11-2012   87.09
4     02-11-2012   84.86
...          ...     ...
2521  20-10-2022   85.98
2522  21-10-2022   85.05
2523  24-10-2022   84.92
2524  25-10-2022   84.79
2525  26-10-2022   88.05

[2526 rows x 2 columns]

In [25]:
hd.isnull().sum()

date      0
 value    0
dtype: int64