In [12]:
import pandas as pd

In [13]:
ds=pd.read_csv(r"Crude_Oil_Prices.csv")

In [14]:
ds.shape

(2547, 2)

In [15]:
ds.head

<bound method NDFrame.head of             date   value
0     29-10-2012   85.54
1     30-10-2012   85.68
2     31-10-2012   86.24
3     01-11-2012   87.09
4     02-11-2012   84.86
...          ...     ...
2542  12-11-2022     NaN
2543  13-11-2022     NaN
2544  14-11-2022     NaN
2545  15-11-2022     NaN
2546  16-11-2022     NaN

[2547 rows x 2 columns]>